/*http://localhost:56480/livereload.js*/
/******************************************************************************
***********************ПОДКЛЮЧЕНИЕ ШРИФТОВ******************************
*******************************************************************************/
@font-face {
	font-family: "PTSansNarrow";
	src: url(../fonts/ptsans/ptsansnarrow.woff),
			 url(../fonts/ptsans/ptsansnarrow.woff2);
}

@font-face {
	font-family: "PTSansNarrow";
	src: url(../fonts/ptsans/ptsansnarrowbold.woff),
	 		 url(../fonts/ptsans/ptsansnarrowbold.woff2);
	font-weight: bold;
}





/******************************************************************************
***********************ОБЩИЕ СВОЙСТВА*************************************
*******************************************************************************/
body {
	font-family: "PTSansNarrow";
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	background: url("../img/background.jpg") no-repeat 50% 50%;
}





/******************************************************************************
***********************ГЛАВНАЯ СТРАНИЦА************************************
*******************************************************************************/



/*СЕТКА
*******************************************************************************/
.base_border {
	border: 1px solid red;
}

.layout-container {
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;

}

.promo_block {
	font-size: 0;
}

.layout-content {
	display: inline-block;
	vertical-align: top;
	font-size: 17px;
}

.promo_block > .layout-content {
	max-width: 300px;
	margin-right: 20px;
}

.promo_block > .layout-content:last-child {
	margin-right: 0;
}


.main-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.info_block > .layout-content {
	width: 400px;

}


.contact > .layout-content {
	width: 400px;

}

/*ОФОРМЛЕНИЕ
*******************************************************************************/


/*Меню*/

header {
	background-color: #000;
}

.header-menu {
	float: left;
	list-style: none;
	font-size: 0;
	padding: 0;
	width: 780px;
	margin: 0;

}

.header-menu > li {
	display: inline-block;

}

.header-menu a,
.header-autorisation a {
	display:  block;
	color: #fff;
	text-decoration: none;

	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 20px;
	padding-right: 23px;
	line-height: 20px;

	font-size: 16px;
	text-transform: uppercase;
	vertical-align: top;
}

.header-menu a:hover,
.header-autorisation a:hover {
	background-color: gray;
}

.header-autorisation {
	float: right;

}

nav::after {
	content: "";
	display: block;
	clear: both;
}




/*Секция Main*/
body {

}

.main-logo {
	padding-top: 60px;
	padding-left: 10px;
}
